.navbar-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 30px 20px;
}

.navbar-wrapper > .logo-menu-wrapper {
    display: flex;
    align-items: center;
}

.navbar-wrapper > .logo-menu-wrapper > .logo img {
    height: 35px;
    width: 100%;
}

.navbar-wrapper > .logo-menu-wrapper > .menu-wrapper {
    padding-left: 50px;
}

.navbar-wrapper > .logo-menu-wrapper > .menu-wrapper > .menu-label {
    color: #facd62;
    font-size: 1em;
}

.navbar-wrapper > .logo-menu-wrapper > .menu-wrapper > .menu-items-wrapper {
    display: flex;
    justify-content: space-between;
    width: 450px;
    font-weight: 1000;
    font-size: 1.3em;  
}

.navbar-wrapper > .logo-menu-wrapper > .menu-wrapper > .menu-items-wrapper > #spark-dropdown {
    padding-left: 10px;
    color: #999da0;
    font-weight: 700;
}

.navbar-wrapper > .logo-menu-wrapper > .menu-wrapper > .menu-items-wrapper > #spark-dropdown i{
    padding-left: 5px;
    font-size: 0.8em;
}

.navbar-wrapper > .buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 425px;
}

.navbar-wrapper > .buttons-wrapper i {
    color: #7d7d89;
    font-size: 2em;
    padding: 0px 10px;
}

.navbar-wrapper > .buttons-wrapper > .button i {
    color: #61c37f;
    padding-left: 3px;
    font-size: 1em;
}

.navbar-wrapper > .buttons-wrapper > .button {
    font-weight: 700;
    font-size: 1.2em;
}